@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#errorCode{
    color: white;
    text-align: center;
    margin-top: 35vh;
    margin-bottom: 20px;
    font-size: 100px;
    display: block;
    transform: skewY(-5deg);
}

#errorText{
    margin-left: 15px;
    color: white;
    text-align: center;
    font-size: 30px;
    display: block;
    transform: skewY(-5deg);
}

